@charset "UTF-8";

/* Plugin context trail */
.portables-context-trail {
  border: 2px dashed #c2daf8;
  display: inline-block;
  padding: 0.5em 0.8em;
  font-size: 95%;
}
.portables-context-trail .title {
  margin-right: 2em;
  font-weight: bold;
  font-size: 102%;
}
.portables-context-trail .title:after {
  content: ':';
}
.portables-context-trail .trail-separator {
  margin: 0 1.1em;
  font-size: 130%;
  font-weight: bold;
}
.portables-context-trail .trail-item .element-plugin {
  font-style: italic;
  margin-right: 0.3em;
  color: #666;
}
.portables-context-trail .trail-item .element-plugin:after {
  content: ':';
  margin-right: -0.1em;
}

/* Multi-step UI */
.form-portables-multistep {
  margin-bottom: 2em;
}
.portables-multistep-legend {
  font-size: 95%;
  float: right;
  margin-bottom: 0.8em;
}
.portables-multistep-legend .legend-heading,
.portables-multistep-legend .legend-item {
  float: left;
  margin-left: 1em;
}
.portables-multistep-legend .legend-heading {
  font-weight: bold;
  margin-right: 1em;
}
.portables-multistep-legend .legend-heading:after {
  content: ':';
}
.portables-multistep-legend .legend-key {
  display: inline-block;
  height: 1em;
  width: 1em;
  background: center no-repeat;
}
.portables-multistep-legend .legend-description {
  margin-left: 0.3em;
}
.form-portables-multistep ul.portables-multistep-tabs {
  float: left;
  clear: both;
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  border: 1px solid #ccc;
  border-bottom: none;
  background: #dedede;
}
.form-portables-multistep ul.portables-multistep-tabs li {
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
}
.form-portables-multistep ul.portables-multistep-tabs a {
  display: block;
  margin: 0;
  padding: 0.6em 1em;
  text-decoration: none;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: #eee;
  color: #666;
  font-weight: bold;
}
.form-portables-multistep ul.portables-multistep-tabs a.active-tab {
  background: #fff;
  border-bottom-color: #fff;
  color: #000;
}
.form-portables-multistep .portables-multistep-content {
  width: 100%;
  float: left;
  border: 1px solid #ccc;
  border-top: none;
}
.form-portables-multistep .portables-multistep-content .inside {
  padding: 1em;
  float: left;
}

/* Multi-step UI tab default statuses */
ul.portables-multistep-tabs li a span.step-complete,
ul.portables-multistep-tabs li a span.step-incomplete {
  padding-right: 1.7em;
  background: center right no-repeat;
}
.portables-multistep-legend .legend-key.complete,
ul.portables-multistep-tabs li a span.step-complete {
  background-image: url('status-complete.png');
}
.portables-multistep-legend .legend-key.incomplete,
ul.portables-multistep-tabs li a span.step-incomplete {
  background-image: url('status-incomplete.png');
}
